html{
  background: #f5f1e0;
}

.ct-line {
  stroke-dasharray: 10;
  color: orange;
  animation: dash 5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

@keyframes fade {
  from {
    stroke: black
  }
  to {
    stroke:  rgba(0, 0, 0, 0)
  }
}

/* style the svg rect */
.ct-zoom-rect {
  fill: rgba(247, 190, 104, 0.3);
  stroke: rgb(216, 142, 57);
}

.ct-chart .ct-series.ct-series-b .ct-line {
  stroke: rgb(135, 178, 214);
  stroke-width: 3px;
  stroke-linecap: round;
}
@keyframes enlarge {
  0% {stroke-width: 7px;}
  100% {
    stroke-width: 17px ;
  }
}

.ct-chart .ct-series.ct-series-a .ct-point {
  stroke: rgb(122, 167, 204) ;
  animation: enlarge 2s infinite linear;
  animation: fade 1s infinte linear;
}

.ct-chart .ct-series.ct-series-b .ct-area {
  fill: rgb(163, 198, 226);
}
